.container {
    width: 500px;
    height: 500px;
    background-color: gray;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: blue;
}

#pokemonType{
    width: 120px;
}

.lbl{
    color: white;
}